<div id="<%= dom_id friend %>">

<div class="jumbotron bg-light">
  <div class="container">
    <br>
  <h1 class="display-4"><%= friend.First_name %>  <%= friend.Last_name %></h1>
  <p class="lead"><%= friend.Email %>  |  <%= friend.Phone %>  |  <%= friend.Twitter %></p>
    <br>
    <br>
  </div>
</div>
</div>
