
<h1>Friends List</h1>
<br>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Twitter</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="friends">
    
      <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
    <tr>

    <td>
      <%= link_to friend.First_name + " " + friend.Last_name, friend %>
    </td>
  
  <td>
    <%= friend.Phone %>
  </td>
  <td>
    <%= friend.Email %>
  </td>

  <td>
    <%= friend.Twitter %>
  </td>
  <td>
    <%= button_to "Delete", @friend, method: :delete, class:"btn btn-outline-danger btn-sm" %>
  </td>
    
    
    </tr>
    <% end %>
      <% end %>

  </tbody>
</table> 

<%= link_to "New friend", new_friend_path, class:"btn btn-primary"%>
